<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:include="fragments/header :: head"></th:block>
</head>

<body style="background: #00FF9F">
<th:block th:include="fragments/navigation :: top-navbar"></th:block>

<div class="container" align="center">
    <h1>This app was created by Marco Gallegos</h1>
    <hr class="my-4">
    <h3>
        <p><a href="https://github.com/pacmanw2/Coronavirus-Tracker">GitHub Repo</a></p>
    </h3>
    <hr class="my-4">
    <h4>Questions/Comments/Report a bug? Email me at: marco_gallegos@aol.com</h4>
</div>

</body>

</html>